header,
footer {
  background-color: black;
}

.btnList {
  border-radius: 20px 20px 20px 20px;
  width: 60px;
  height: 60px;
}

.carousel,
.imgCarousel {
  height: 400px;
}

.subContainer {
  background: url("bgfond.jpeg");
}

.sectionTitle {
  font-size: 2.6em;
}

.homePage {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

.header {
  padding-left: 9%;
  overflow: hidden;
}

.collectionBtn {
  margin-left: 4%;
}

.collectionBtn:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5em;
}

.inputSearch {
  margin-right: 2%;
  margin-left: 2%;
}

.filterSelected {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionFilter {
  background-color: rgb(14, 14, 13);
  justify-content: center;
}

.layoutOrganisation {
  display: flex;
}

.dialect {
  background-color: rgb(14, 14, 13);
  overflow: hidden;
}

.spanAnimated {
  position: relative;
  animation: animation 17s infinite linear;
}

@keyframes animation {
  0% {
    left: 1900px;
  }
  100% {
    left: -1000px;
  }
}

@media (min-width: 2000px) {
  .carousel,
  .imgCarousel {
    height: 600px;
  }
}

@media (max-width: 1400px) {
  .commentHeader {
    display: none;
  }

  .collectionBtn {
    margin-left: 0%;
  }

  .sectionTitle {
    font-size: 1.5em;
  }

  .dialect {
    display: flex;
    justify-content: center;
  }

  .spanAnimated {
    animation: none;
  }
}

@media (max-width: 991px) {
  .carousel,
  .imgCarousel {
    height: 250px;
  }

  .filterSelected {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sectionFilter {
    flex-direction: column;
  }

  .header {
    padding-left: 0%;
    flex-direction: column;
  }

  .collectionBtn {
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 3%;
    height: 60px;
  }

  .layoutOrganisation,
  .title,
  .dialect {
    display: none;
  }
}
