header,
footer {
  background-color: black;
}

.carousel {
  height: 400px;
}

.imgCarousel {
  height: 400px;
}

.subContainer {
  background: url("bgfond.jpeg");
}

.homePage {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.header {
  padding-left: 9%;
  overflow: hidden;
}

.collectionBtn {
  margin-left: 4%;
}

.collectionBtn:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5em;
}

.inputSearch {
  margin-right: 2%;
  margin-left: 2%;
}

.filterSelected {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionFilter {
  background-color: rgb(19, 19, 18);
  justify-content: center;
}

@media (max-width: 1400px) {
  .commentHeader {
    display: none;
  }

  .collectionBtn {
    margin-left: 0%;
  }
}

@media (max-width: 991px) {
  .title {
    display: none;
  }

  .filterSelected {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sectionFilter {
    flex-direction: column;
  }

  .header {
    padding-left: 0%;
    flex-direction: column;
  }

  .collectionBtn {
    margin-top: 20px;
    margin-left: 7%;
    margin-right: 3%;
    height: 60px;
  }
}
